<div class="container main-container headerOffset">
  <div class="row">
    <div class="breadcrumbDiv col-lg-12">
      <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/cart">Cart</a></li>
        <li class="active"> Checkout</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-7 col-xs-6 col-xxs-12 text-center-xs">
      <h1 class="section-title-inner"><span><i class="glyphicon glyphicon-shopping-cart"></i> Checkout</span></h1>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar col-xs-6 col-xxs-12 text-center-xs">
      <h4 class="caps"><a href="/products"><i class="fa fa-chevron-left"></i> Back to shopping </a></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="row userInfo">
        <div class="col-xs-12 col-sm-12">
          <div class="w100 clearfix">
            <ul class="orderStep orderStepLook2">
                <li>
                  <a href="/checkout"> <i class="fa fa-map-marker "></i> <span>Address</span></a>
                </li>
                <li>
                  <a href="/checkout/billing"> <i class="fa fa fa-envelope  "></i> <span>Billing</span></a>
                </li>
                <li class="active">
                  <a href="/checkout/delivery"><i class="fa fa-truck "></i> <span>Shipping</span></a>
                </li>
                <li>
                  <a href="/checkout/payment"><i class="fa fa-money  "></i> <span>Payment</span></a>
                </li>
                <li>
                  <a href="/checkout/review"><i class="fa fa-check-square "></i> <span>Order</span></a>
                </li>
            </ul>
            <!--/.orderStep end-->
          </div>
          <div class="w100 clearfix">
            <div class="row userInfo">
              <div class="col-lg-12">
                <h2 class="block-title-2"> Choose your delivery method </h2>
              </div>
              <div class="col-xs-12 col-sm-12">
                <div class="w100 row">
                  <div class="form-group col-lg-12 col-sm-12 col-md-12 -col-xs-12">
                    <table style="width:100%" class="table-bordered table tablelook2">
                      <tbody>
                      <tr>
                        <td> Carrier</td>
                        <td>Method</td>
                        <td>Information</td>
                        <td>Price!</td>
                      </tr>
                      <tr>
                        <td>
                          <label class="radio">
                          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> <i class="fa  fa-plane fa-2x"></i> </label>
                        </td>
                        <td> By Road</td>
                        <td>Pick up in-store</td>
                        <td>Free!</td>
                      </tr>
                      <tr>
                        <td>
                          <label class="radio">
                          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> <i class="fa fa-truck fa-2x"></i> </label>
                        </td>
                        <td>By Air</td>
                        <td>Delivery next day!</td>
                        <td>Free!</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!--/row-->

                <div class="cartFooter w100">
                  <div class="box-footer">
                    <div class="pull-left"><a class="btn btn-default" href="/checkout/billing"> <i class="fa fa-arrow-left"></i> &nbsp; Billing Address </a></div>
                    <div class="pull-right"><a href="/checkout/payment" class="btn btn-primary btn-small "> Payment Method &nbsp; <i class="fa fa-arrow-circle-right"></i> </a></div>
                  </div>
                </div>
                <!--/ cartFooter -->

              </div>
            </div>
          </div>
          <!--/row end-->

        </div>
      </div>
    </div>
    <!--/row end-->

    <div class="col-lg-3 col-md-3 col-sm-12 rightSidebar">
      <div class="w100 cartMiniTable">
        <table id="cart-summary" class="std table">
          <tbody>
          <tr>
            <td>Total products</td>
            <td class="price">$216.51</td>
          </tr>
          <tr style="">
            <td>Shipping</td>
            <td class="price"><span class="success">Free shipping!</span></td>
          </tr>
          <tr class="cart-total-price ">
            <td>Total (tax excl.)</td>
            <td class="price">$216.51</td>
          </tr>
          <tr>
            <td>Total tax</td>
            <td class="price" id="total-tax">$0.00</td>
          </tr>
          <tr>
            <td> Total</td>
            <td class=" site-color" id="total-price">$216.51</td>
          </tr>
          </tbody>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <!--/rightSidebar-->

  </div>
  <!--/row-->

  <div style="clear:both"></div>

</div>
<!-- /main-container -->


<div class="gap"></div>
