<div class="container main-container headerOffset">
  <div class="row">
    <div class="breadcrumbDiv col-lg-12">
      <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/cart">Cart</a></li>
        <li class="active"> Checkout</li>
      </ul>
    </div>
  </div>
  <!--/.row-->

  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-7 col-xs-6 col-xxs-12 text-center-xs">
      <h1 class="section-title-inner"><span><i class="glyphicon glyphicon-shopping-cart"></i> Checkout</span></h1>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar col-xs-6 col-xxs-12 text-center-xs">
      <h4 class="caps"><a href="/products"><i class="fa fa-chevron-left"></i> Back to shopping </a></h4>
    </div>
  </div>
  <!--/.row-->

  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="row userInfo">
        <div class="col-xs-12 col-sm-12">
          <div class="w100 clearfix">
            <div class="row userInfo">
              <div class="col-lg-12">
                <h2 class="block-title-2"> Shipping Information </h2>
              </div>

              <form>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group required">
                    <label for="InputName">First Name <sup>*</sup> </label>
                    <input required type="text" class="form-control" id="InputName" placeholder="First Name">
                  </div>
                  <div class="form-group required">
                    <label for="InputLastName">Last Name <sup>*</sup> </label>
                    <input required type="text" class="form-control" id="InputLastName" placeholder="Last Name">
                  </div>
                  <div class="form-group required">
                    <label for="InputEmail">Email <sup>*</sup></label>
                    <input type="text" class="form-control" id="InputEmail" placeholder="Email">
                  </div>
                  <div class="form-group required">
                    <label for="InputPhone">Phone <sup>*</sup></label>
                    <input required type="tel" name="InputPhone" class="form-control" id="InputPhone">
                  </div>
                  <div class="form-group">
                    <label for="InputCompany">Company </label>
                    <input type="text" class="form-control" id="InputCompany" placeholder="Company">
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group required">
                    <label for="InputAddress">Address <sup>*</sup> </label>
                    <input required type="text" class="form-control" id="InputAddress" placeholder="Address">
                  </div>
                  <div class="form-group">
                    <label for="InputAddress2">Address (Line 2) </label>
                    <input type="text" class="form-control" id="InputAddress2" placeholder="Address">
                  </div>
                  <div class="form-group required">
                    <label for="InputCity">City <sup>*</sup> </label>
                    <input required type="text" class="form-control" id="InputCity" placeholder="City">
                  </div>
                  <div class="form-group required">
                    <label for="InputState">State <sup>*</sup> </label>
                    <select class="form-control" required aria-required="true" id="InputState" name="InputState">
                      <option value="">Choose</option>
                      <option value="1">Alabama</option>
                      <option value="2">Alaska</option>
                      <option value="3">Arizona</option>
                      <option value="4">Arkansas</option>
                      <option value="5">California</option>
                      <option value="6">Colorado</option>
                      <option value="7">Connecticut</option>
                      <option value="8">Delaware</option>
                      <option value="53">District of Columbia</option>
                      <option value="9">Florida</option>
                      <option value="10">Georgia</option>
                      <option value="11">Hawaii</option>
                      <option value="12">Idaho</option>
                      <option value="13">Illinois</option>
                      <option value="14">Indiana</option>
                      <option value="15">Iowa</option>
                      <option value="16">Kansas</option>
                      <option value="17">Kentucky</option>
                      <option value="18">Louisiana</option>
                      <option value="19">Maine</option>
                      <option value="20">Maryland</option>
                      <option value="21">Massachusetts</option>
                      <option value="22">Michigan</option>
                      <option value="23">Minnesota</option>
                      <option value="24">Mississippi</option>
                      <option value="25">Missouri</option>
                      <option value="26">Montana</option>
                      <option value="27">Nebraska</option>
                      <option value="28">Nevada</option>
                      <option value="29">New Hampshire</option>
                      <option value="30">New Jersey</option>
                      <option value="31">New Mexico</option>
                      <option value="32">New York</option>
                      <option value="33">North Carolina</option>
                      <option value="34">North Dakota</option>
                      <option value="35">Ohio</option>
                      <option value="36">Oklahoma</option>
                      <option value="37">Oregon</option>
                      <option value="38">Pennsylvania</option>
                      <option value="51">Puerto Rico</option>
                      <option value="39">Rhode Island</option>
                      <option value="40">South Carolina</option>
                      <option value="41">South Dakota</option>
                      <option value="42">Tennessee</option>
                      <option value="43">Texas</option>
                      <option value="52">US Virgin Islands</option>
                      <option value="44">Utah</option>
                      <option value="45">Vermont</option>
                      <option value="46">Virginia</option>
                      <option value="47">Washington</option>
                      <option value="48">West Virginia</option>
                      <option value="49">Wisconsin</option>
                      <option value="50">Wyoming</option>
                    </select>
                  </div>
                  <div class="form-group required">
                    <label for="InputZip">Zip / Postal Code <sup>*</sup> </label>
                    <input required type="text" class="form-control" id="InputZip" placeholder="Zip / Postal Code">
                  </div>
                </div>
              </form>
            </div>
            <!--/row end-->

            <div class="row userInfo">
              <div class="col-lg-12">
                <h2 class="block-title-2"> Billing Information </h2>
              </div>
              <div class="col-xs-12 col-sm-12">
                <label class="checkbox-inline" for="checkboxes-0">
                <input name="checkboxes" id="checkboxes-0" value="1" type="checkbox">
                My delivery and billing addresses are the same. </label>
                <hr>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-group required">
                  <label for="InputName">First Name <sup>*</sup> </label>
                  <input required type="text" class="form-control" id="InputName" placeholder="First Name">
                </div>
                <div class="form-group required">
                  <label for="InputLastName">Last Name <sup>*</sup> </label>
                  <input required type="text" class="form-control" id="InputLastName" placeholder="Last Name">
                </div>
                <div class="form-group required">
                  <label for="InputEmail">Email <sup>*</sup></label>
                  <input type="text" class="form-control" id="InputEmail" placeholder="Email">
                </div>
                <div class="form-group required">
                  <label for="InputMobile">Phone <sup>*</sup></label>
                  <input required type="tel" name="InputMobile" class="form-control" id="InputMobile">
                </div>
                <div class="form-group">
                  <label for="InputCompany">Company </label>
                  <input type="text" class="form-control" id="InputCompany" placeholder="Company">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-group required">
                  <label for="InputAddress">Address <sup>*</sup> </label>
                  <input required type="text" class="form-control" id="InputAddress" placeholder="Address">
                </div>
                <div class="form-group">
                  <label for="InputAddress2">Address (Line 2) </label>
                  <input type="text" class="form-control" id="InputAddress2" placeholder="Address">
                </div>
                <div class="form-group required">
                  <label for="InputCity">City <sup>*</sup> </label>
                  <input required type="text" class="form-control" id="InputCity" placeholder="City">
                </div>
                <div class="form-group required">
                  <label for="InputState">State <sup>*</sup> </label>
                  <select class="form-control" required aria-required="true" id="InputState" name="InputState">
                    <option value="">Choose</option>
                    <option value="1">Alabama</option>
                    <option value="2">Alaska</option>
                    <option value="3">Arizona</option>
                    <option value="4">Arkansas</option>
                    <option value="5">California</option>
                    <option value="6">Colorado</option>
                    <option value="7">Connecticut</option>
                    <option value="8">Delaware</option>
                    <option value="53">District of Columbia</option>
                    <option value="9">Florida</option>
                    <option value="10">Georgia</option>
                    <option value="11">Hawaii</option>
                    <option value="12">Idaho</option>
                    <option value="13">Illinois</option>
                    <option value="14">Indiana</option>
                    <option value="15">Iowa</option>
                    <option value="16">Kansas</option>
                    <option value="17">Kentucky</option>
                    <option value="18">Louisiana</option>
                    <option value="19">Maine</option>
                    <option value="20">Maryland</option>
                    <option value="21">Massachusetts</option>
                    <option value="22">Michigan</option>
                    <option value="23">Minnesota</option>
                    <option value="24">Mississippi</option>
                    <option value="25">Missouri</option>
                    <option value="26">Montana</option>
                    <option value="27">Nebraska</option>
                    <option value="28">Nevada</option>
                    <option value="29">New Hampshire</option>
                    <option value="30">New Jersey</option>
                    <option value="31">New Mexico</option>
                    <option value="32">New York</option>
                    <option value="33">North Carolina</option>
                    <option value="34">North Dakota</option>
                    <option value="35">Ohio</option>
                    <option value="36">Oklahoma</option>
                    <option value="37">Oregon</option>
                    <option value="38">Pennsylvania</option>
                    <option value="51">Puerto Rico</option>
                    <option value="39">Rhode Island</option>
                    <option value="40">South Carolina</option>
                    <option value="41">South Dakota</option>
                    <option value="42">Tennessee</option>
                    <option value="43">Texas</option>
                    <option value="52">US Virgin Islands</option>
                    <option value="44">Utah</option>
                    <option value="45">Vermont</option>
                    <option value="46">Virginia</option>
                    <option value="47">Washington</option>
                    <option value="48">West Virginia</option>
                    <option value="49">Wisconsin</option>
                    <option value="50">Wyoming</option>
                  </select>
                </div>
                <div class="form-group required">
                  <label for="InputZip">Zip / Postal Code <sup>*</sup> </label>
                  <input required type="text" class="form-control" id="InputZip" placeholder="Zip / Postal Code">
                </div>
              </div>
            </div>
            <!--/row end-->

            <div class="row userInfo">
              <div class="col-lg-12">
                <h2 class="block-title-2"> Delivery Method </h2>
              </div>
              <div class="col-xs-12 col-sm-12">
                <div class="w100 row">
                  <div class="form-group col-lg-12 col-sm-12 col-md-12 -col-xs-12">
                    <table style="width:100%" class="table-bordered table tablelook2">
                      <tbody>
                      <tr>
                        <td> Carrier</td>
                        <td>Method</td>
                        <td>Information</td>
                        <td>Price!</td>
                      </tr>
                      <tr>
                        <td>
                          <label class="radio">
                          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> <i class="fa fa-truck fa-2x"></i> </label>
                        </td>
                        <td>By Road</td>
                        <td>Pick up in-store</td>
                        <td>Free!</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!--/row-->

              </div>
            </div>

            <div class="row userInfo">
              <div class="col-lg-12">
                <h2 class="block-title-2"> Payment Method </h2>
              </div>
              <div class="col-xs-12 col-sm-12">
                <div class="paymentBox">
                  <p>All transactions are secure. To learn more, please view our privacy policy.</p>
                  <br>

                  <div class="creditCard">
                    <div class="cartBottomInnerRight paymentCard">
                    </div>
                    <span>Supported</span> <span>Credit Cards</span>

                    <div class="paymentInput">
                      <label for="CardNumber">Credit Card Number *</label>
                      <br>
                      <input id="CardNumber" type="text" name="Number">
                    </div>
                    <!--paymentInput-->
                    <div class="paymentInput">
                      <label for="CardNumber2">Name on Credit Card *</label>
                      <br>
                      <input type="text" name="CardNumber2" id="CardNumber2">
                    </div>
                    <!--paymentInput-->
                    <div class="paymentInput">
                      <div class="form-group">
                        <label>Expiration date *</label>
                        <br>

                        <div class="col-lg-4 col-md-4 col-sm-4 no-margin-left no-padding">
                          <select class="form-control" required aria-required="true" name="expire">
                            <option value="">Month</option>
                            <option value="1">01 - January</option>
                            <option value="2">02 - February</option>
                            <option value="3">03 - March</option>
                            <option value="4">04 - April</option>
                            <option value="5">05 - May</option>
                            <option value="6">06 - June</option>
                            <option value="7">07 - July</option>
                            <option value="8">08 - August</option>
                            <option value="9">09 - September</option>
                            <option value="10">10 - October</option>
                            <option value="11">11 - November</option>
                            <option value="12">12 - December</option>
                          </select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                          <select class="form-control" required aria-required="true" name="year">
                            <option value="">Year</option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <!--paymentInput-->

                    <div style="clear:both"></div>
                    <div class="paymentInput clearfix">
                      <label for="VerificationCode">Verification Code *</label>
                      <br>
                      <input type="text" id="VerificationCode" name="VerificationCode" style="width:90px;">
                      <br>
                    </div>
                    <!--paymentInput-->
                  </div>
                  <!--creditCard-->

                  <div class="pull-right"><a href="/checkout/review" class="btn btn-primary btn-small "> Place Order &nbsp; <i class="fa fa-arrow-circle-right"></i> </a>
                  </div>
                </div>
                <!--/row-->

              </div>
            </div>

          </div>
        </div>
      </div>
      <!--/row end-->
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12 rightSidebar">
      <div class="w100 cartMiniTable">
        <table id="cart-summary" class="std table">
          <tbody>
          <tr>
            <td>Total products</td>
            <td class="price">$216.51</td>
          </tr>
          <tr style="">
            <td>Shipping</td>
            <td class="price"><span class="success">Free shipping!</span></td>
          </tr>
          <tr class="cart-total-price ">
            <td>Total (tax excl.)</td>
            <td class="price">$216.51</td>
          </tr>
          <tr>
            <td>Total tax</td>
            <td class="price" id="total-tax">$0.00</td>
          </tr>
          <tr>
            <td> Total</td>
            <td class=" site-color" id="total-price">$216.51</td>
          </tr>
          </tbody>
          <tbody>
          </tbody>
        </table>
      </div>
      <!--  /cartMiniTable-->

    </div>
    <!--/rightSidebar-->

  </div>
  <!--/row-->

  <div style="clear:both"></div>
</div>
<!-- /.main-container-->
<div class="gap"></div>
