<div class="container main-container headerOffset">
  <div class="row innerPage">
    <div class="col-lg-12 col-md-12 col-sm-12">

      <div class="row userInfo">

        <div class="col-xs-12 col-sm-12">

          <h1 class="title-big text-center section-title-style2">
              <span> Contact us </span>
          </h1>

          <p class="lead text-center">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat hendrerit
              dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit
              metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
              inceptos himenaeos.
          </p>

          <hr>

          <div class="row">

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h3 class="block-title-5"> Questions, Comments, Concerns </h3>
            <form role="form">
              <div class="form-group">
                <label for="exampleInputName">Name</label>
                <input type="text" class="form-control" id="exampleInputName" placeholder="Enter name">
              </div>
              <div class="form-group">
                <label for="InputEmail1">Email address</label>
                <input type="email" class="form-control" id="InputEmail1" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="InputMessage1">Message</label>
                <textarea class="form-control" rows="3" id="InputMessage1" placeholder="Message"></textarea>
              </div>
              <button type="submit" class="btn   btn-primary"><i class="fa fa-user"></i> Send
              </button>
            </form>
          </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <h3 class="block-title-5"> Customer care </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit

                    <br>
                    <strong>
                        Phone number
                    </strong>
                    : 800-791-2582
                    <br>
                    <strong>
                        Email us
                    </strong>
                    : Contact@northsideusa.com
                </p>


            </div>

            <div style="clear:both"></div>
            <hr>
            <div style="clear:both"></div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3 class="block-title-5">
                    Feedback
                </h3>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat
                    hendrerit dictum. Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper
                    metus
                    <email>
                        feedback@northsideusa.com
                    </email>

                    <br>
                    <strong>
                        Email us
                    </strong>
                    : feedback@northsideusa.com
                </p>

            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3 class="block-title-5">
                    Other Enquiries
                </h3>

                <p>
                    <strong>
                        Corporate Sales
                    </strong>
                    : Corporate@northsideusa.com
                    <br>
                    <strong>
                        Careers
                    </strong>
                    : Careers@northsideusa.com
                    <br>
                    <strong>
                        Press Relations
                    </strong>
                    : northsideusa.com
                    <br>
                </p>

            </div>

            <div style="clear:both"></div>

          </div>
          <!--/.row-->
        </div>


      </div>
      <!--/.row  ||  -->

    </div>
  </div>
  <!--/row || innerPage end-->
  <div style="clear:both"></div>
</div>
<!-- ./main-container -->
