<div class="banner">
  <div class="full-container">
    <div class="slider-content">
      <ul id="pager" class="container">
      </ul>
      <div class="slider slider-v2">
        <div class="slider-item slider-item-img1 " data-cycle-pager-template="<a href=#> HIKING SHOES </a>">
          <div class="sliderInfo">
            <div class="container">
              <div class="col-lg-3 col-md-3 col-sm-3 pull-right sliderText dark alpha80 hidden-xs" style="margin-top: 33%; margin-right: 20%;">
               <div class="inner">
                 <a href="/trail" class="slide-link">Shop Hiking Boots <span class="arrowUnicode">►</span></a>
               </div>
              </div>
            </div>
          </div>
          <%= image_tag("slider/HomePage_1263x558_HighlanderII.jpg", :class => "img-responsive parallaximg sliderImg") %>
        </div>
        <!--/.slider-item-->

        <!-- <div class="slider-item slider-item-img2 " data-cycle-pager-template="<a href=#> POLAR SHOES </a>">
          <div class="sliderInfo">
            <div class="container">
              <div class="col-lg-5 col-md-5 col-sm-5 pull-right sliderText dark alpha80 hidden-xs">
               <div class="inner">
                 <a href="category.html" class="slide-link">SHOP NOW <span class="arrowUnicode">►</span></a>
               </div>
              </div>
            </div>
          </div>
          <a href="/polar"><%= image_tag("slider/Theirs_Ours_Campfire_Food_1263x558.jpg", :class => "img-responsive parallaximg sliderImg") %></a>
        </div> -->
        <!--/.slider-item-->

        <!-- <div class="slider-item slider-item-img3 " data-cycle-pager-template="<a href=#> KIDS' SHOES </a>">
          <div class="sliderInfo">
            <div class="container"> -->
              <!--<div class="col-lg-5 col-md-5 col-sm-5 pull-right sliderText dark alpha80 hidden-xs">-->
              <!--  <div class="inner">-->
              <!--    <h1>LATEST COLLECTION</h1>-->
              <!--    <p class="hidden-xs"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpa </p>-->
              <!--    <a href="category.html" class="slide-link">SHOP NOW <span class="arrowUnicode">►</span></a>-->
              <!--  </div>-->
              <!--</div>-->
            <!-- </div>
          </div>
          <%= image_tag("slider/HomePage_1263x558_OurWeekendPlans.jpg", :class => "img-responsive parallaximg sliderImg") %>
        </div> -->
        <!--/.slider-item-->
      </div>
      <!--/.slider-v2-->
    </div>
    <!--/.slider-content-->
  </div>
  <!--/.full-container-->
</div>
<!--/.banner style2-->
