<div class="container main-container headerOffset">
    <div class="row innerPage">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">
                    <h1 class=" text-left border-title"> Northside Return Policy </h1>
                    <p>We want you to be 100% satisfied with your purchase through the Services. If for any reason you are not completely satisfied with a Northside product that you purchased through the Services, then please contact us at <a href="mailto:contact@northsideusa.com">contact@northsideusa.com</a> and comply with the terms of our Return Policy within the first ninety (90) days after your purchase. We will work with you to resolve your concerns.  We may, in our discretion, provide a refund, exchange or replacement. This is not a warranty or a guarantee, however, and we reserve the right to decline to provide any remedy.</p>

                    <p>Please note that this does not cover ordinary wear and tear or damage caused by improper use or accidents.</p>

                    <p><strong>Returning or Exchanging Products</strong><br />
                      To seek a return or an exchange of a Northside product you purchased through the Services, please contact us at <a href="mailto:contact@northsideusa.com">contact@northsideusa.com</a> within the first ninety (90) days after your purchase for shipping instructions and to receive a shipping label for complimentary return shipping.  You must have a proof of purchase (e.g., transaction confirmation or shipping invoice) for all returns and exchanges of Northside products purchased through the Services.</p>

                      <p><strong>Reporting Safety Concerns</strong><br />
                        If you believe a product sold by Northside has a condition or defect that may make it unsafe, please report your safety concern immediately by contacting us at <a href="mailto:contact@northsideusa.com">contact@northsideusa.com</a>.</p>
                </div>
            </div>
            <!--/row end-->

        </div>
    </div>
    <!--/row-->

    <div style="clear:both"></div>
</div>
