<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:w="urn:schemas-microsoft-com:office:word" xmlns:m="http://schemas.microsoft.com/office/2004/12/omml" xmlns="http://www.w3.org/TR/REC-html40"><head>
<meta http-equiv="Content-Type" content="text/html; charset=Windows-1252"><meta name="Generator" content="Microsoft Word 15 (filtered medium)">
<style><!--
/* Font Definitions */
@font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
	{font-family:Tahoma;
	panose-1:2 11 6 4 3 5 4 4 2 4;}
@font-face
	{font-family:Cambria;
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:"Lucida Sans Unicode";
	panose-1:2 11 6 2 3 5 4 2 2 4;}
/* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman",serif;}
h1
	{mso-style-priority:9;
	mso-style-link:"Heading 1 Char";
	mso-margin-top-alt:auto;
	margin-right:0in;
	mso-margin-bottom-alt:auto;
	margin-left:0in;
	font-size:24.0pt;
	font-family:"Times New Roman",serif;
	font-weight:bold;}
h2
	{mso-style-priority:9;
	mso-style-link:"Heading 2 Char";
	mso-margin-top-alt:auto;
	margin-right:0in;
	mso-margin-bottom-alt:auto;
	margin-left:0in;
	font-size:18.0pt;
	font-family:"Times New Roman",serif;
	font-weight:bold;}
a:link, span.MsoHyperlink
	{mso-style-priority:99;
	color:blue;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{mso-style-priority:99;
	color:purple;
	text-decoration:underline;}
p
	{mso-style-priority:99;
	mso-margin-top-alt:auto;
	margin-right:0in;
	mso-margin-bottom-alt:auto;
	margin-left:0in;
	font-size:12.0pt;
	font-family:"Times New Roman",serif;}
address
	{mso-style-priority:99;
	mso-style-link:"HTML Address Char";
	margin:0in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman",serif;
	font-style:italic;}
@page WordSection1
	{size:8.5in 11.0in;
	margin:1.0in 1.0in 1.0in 1.0in;}
div.WordSection1
	{page:WordSection1;}
/* List Definitions */
ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
--></style><!--[if gte mso 9]><xml>
<o:shapedefaults v:ext="edit" spidmax="1026" />
</xml><![endif]--><!--[if gte mso 9]><xml>
<o:shapelayout v:ext="edit">
<o:idmap v:ext="edit" data="1" />
</o:shapelayout></xml><![endif]--></head>
<body bgcolor="#EFEFEF" lang="EN-US" link="blue" vlink="purple">
  <div class="WordSection1">
    <h1 style="margin-bottom:0in;margin-bottom:.0001pt"><span style="font-size:22.5pt;font-family:'Lucida Sans Unicode',sans-serif">Northside USA</span></h1>
    <h2 style="margin-top:0in"><span style="font-family:'Lucida Sans Unicode',sans-serif;color:#999999;font-weight:normal">Order <%= @order.id %></span></h2>
    <div>
      <div>
        <table border="0" cellspacing="3" cellpadding="0">
          <tr>
            <td style="padding:.75pt .75pt .75pt .75pt">
              <p class="MsoNormal"><b>Order Num:</b></p>
            </td>
            <td style="padding:.75pt .75pt .75pt .75pt">
              <p class="MsoNormal"><%= @order.id %></p>
            </td>
          </tr>
          <tr>
            <td style="padding:.75pt .75pt .75pt .75pt"><p class="MsoNormal"><b>Order Date:<o:p></o:p></b></p></td>
            <td style="padding:.75pt .75pt .75pt .75pt"><p class="MsoNormal">March 27, 2016 10:05 am<o:p></o:p></p></td>
          </tr>
          <tr>
            <td style="padding:.75pt .75pt .75pt .75pt"><p class="MsoNormal"><b>Billed To:<o:p></o:p></b></p></td>
            <td style="padding:.75pt .75pt .75pt .75pt"><p class="MsoNormal">XXXXXXXXXXXX1141 (Visa)<o:p></o:p></p></td>
          </tr>
          <tr>
            <td style="padding:.75pt .75pt .75pt .75pt"><p class="MsoNormal"><b>Transaction:<o:p></o:p></b></p></td>
            <td style="padding:.75pt .75pt .75pt .75pt"><p class="MsoNormal">110583806 (<strong>Authorized</strong>)<o:p></o:p></p></td>
          </tr>
        </table>
        <p class="MsoNormal" style="background:white"><span style="font-size:10.0pt;font-family:'Lucida Sans Unicode',sans-serif;display:none"><o:p>&nbsp;</o:p></span></p>
        <table border="0" cellspacing="3" cellpadding="0" width="100%" style="width:100.0%">
          <tr>
            <td valign="top" style="padding:.75pt .75pt .75pt .75pt"><p class="MsoNormal">Billed to <o:p></o:p></p><address><span style="font-size:13.5pt;font-style:normal">Dan Ferrin</span><span style="font-style:normal"><br><br>PO Box 512<br>Wilmore, Kansas 67155<br>USA<o:p></o:p></span></address></td>
            <td valign="top" style="padding:.75pt .75pt .75pt .75pt"><p class="MsoNormal">Ship to <o:p></o:p></p><address><span style="font-size:13.5pt;font-style:normal">Dan Ferrin</span><span style="font-style:normal"><br><br>302 N. Main St.<br>Wilmore, Kansas 67155<br>USA<o:p></o:p></span></address><p style="margin-bottom:.25in">Shipping: Standard Shipping<o:p></o:p></p></td>
          </tr>
        </table>
        <p class="MsoNormal" style="background:white"><span style="font-size:10.0pt;font-family:'Lucida Sans Unicode',sans-serif;display:none"><o:p>&nbsp;</o:p></span></p>
        <table border="0" cellspacing="3" cellpadding="0" width="100%" style="width:100.0%;overflow:hidden">
          <thead>
          <tr>
            <td width="50%" style="width:50.0%;padding:.75pt .75pt .75pt .75pt"><p class="MsoNormal"><b>Items Ordered<o:p></o:p></b></p></td>
            <td style="padding:.75pt .75pt .75pt .75pt"><p class="MsoNormal"><b>Quantity<o:p></o:p></b></p></td>
            <td style="padding:.75pt .75pt .75pt .75pt"><p class="MsoNormal" align="right" style="text-align:right"><b>Item Price<o:p></o:p></b></p></td><td style="padding:.75pt .75pt .75pt .75pt"><p class="MsoNormal" align="right" style="text-align:right"><b>Item Total<o:p></o:p></b></p></td>
          </tr>
          </thead>
          <tr>
            <td style="padding:.75pt .75pt .75pt .75pt"><p class="MsoNormal">Apex Mid – Men's US 9<br>312551M200xx090xxx <o:p></o:p></p></td>
            <td style="padding:.75pt .75pt .75pt .75pt"><p class="MsoNormal">1<o:p></o:p></p></td>
            <td style="padding:.75pt .75pt .75pt .75pt"><p class="MsoNormal" align="right" style="text-align:right">$69.99<o:p></o:p></p></td>
            <td style="padding:.75pt .75pt .75pt .75pt"><p class="MsoNormal" align="right" style="text-align:right">$69.99<o:p></o:p></p></td>
          </tr>
          <tr>
            <td colspan="3" style="padding:7.5pt 0in 0in 0in"><p class="MsoNormal" align="right" style="text-align:right"><b>Subtotal<o:p></o:p></b></p></td>
            <td style="padding:7.5pt 0in 0in 0in"><p class="MsoNormal" align="right" style="text-align:right">$69.99<o:p></o:p></p></td>
          </tr>
          <tr>
            <td colspan="3" style="padding:7.5pt 0in 0in 0in"><p class="MsoNormal" align="right" style="text-align:right"><b>Shipping<o:p></o:p></b></p></td>
            <td style="padding:7.5pt 0in 0in 0in"><p class="MsoNormal" align="right" style="text-align:right">$5.00<o:p></o:p></p></td>
          </tr>
          <tr>
            <td colspan="3" style="padding:7.5pt 0in 0in 0in"><p class="MsoNormal" align="right" style="text-align:right"><b>Total<o:p></o:p></b></p></td>
            <td style="padding:7.5pt 0in 0in 0in"><p class="MsoNormal" align="right" style="text-align:right">$74.99<o:p></o:p></p></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
