<section class="blog-intro parallaxOffset parallaxbg parallax-image-aboutus">
  <div class="display-table relative5 hw100">
    <div class="display-table-cell hw100 relative">
      <div class="container blogIntroContent zindex10 relative scrollme">
        <div class="row">
          <div class="  wow  fadeInDown introContent text-center" data-wow-duration="0.2s" data-wow-delay=".5s">
            <h1 class="x2large"> Northside USA News </h1>
            <h5 class="parallaxSubtitle"> The latest news, advice, and comments. </h5>

            <!-- <div class="subscribe-dropdown">
              <div class="dropdown">
                <a class="btn btn-subscribe dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">Subscribe</a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li>
                    <div>
                      <label>
                        <input name="option1" value="option1" type="checkbox">
                        &nbsp; Latest News </label>
                    </div>
                  </li>
                  <li>
                    <div>
                      <label>
                        <input name="option2" value="option2" type="checkbox">
                        &nbsp; New Product </label>
                    </div>
                  </li>
                  <li>
                    <div>
                      <label>
                        <input name="option3" value="option2" type="checkbox">
                        &nbsp; Offer </label>
                    </div>
                  </li>
                  <li>
                    <input placeholder="Enter Your Email" id="subemail" name="subemail" type="text"/>
                  </li>
                  <li><a href="#" class="btn btn-block"> Subscribe </a></li>
                </ul>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay-shade"></div>
  <div class="background-overly g6"></div>
</section>
<!--/.blog-intro -->

<div class="blog-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-centered blog-left">
        <div class="bl-inner">
          <div class="item-blog-post">
            <div class="post-header clearfix">
              <h2 class="fadeInDown  wow" data-wow-duration="0.2s" data-wow-delay=".5s">NORTHSIDE OPENS NEW 110,000 SQUARE FOOT GLOBAL HEADQUARTERS</h2>
              <h3>State-of-the-Art Facility Purpose-Built for The Family Footwear Brand</h3>

              <div class="post-info"><span>July 1, 2016</span>

                <div class="share-gallery pull-right no-float-xs"><a class="share-facebook"> <i class="fa fa-facebook-f"> </i> </a> <a class="share-twitter" href="http://facebook.com"> <i class="fa fa-twitter"> </i> </a> <a class="share-pinterest" href="http://facebook.com"> <i class="fa fa-pinterest-p"> </i> </a> <a class="share-email" href="#"> <i class="fa fa-envelope-o"> </i> </a>
                </div>
              </div>
            </div>
            <div class="post-main-view">
              <div class="post-description wow  fadeIn  " data-wow-duration="0.2s" data-wow-delay=".1s">
                <p>
                  <b>MARYSVILLE, Wash.</b> July 1, 2016 <b> – </b>Family outdoor footwear brand <a href="http://www.nothsideusa.com">Northside</a>
                  today announced that it is moving to a larger, state-of-the-art facility in Marysville,
                  Wash. The move is spurred by accelerated growth of the Northside brand both
                  domestically and internationally in recent years. The newly built office and
                  warehouse space will support continued projected growth into the future.
                </p>
                <p>
                  Northside, owned by Triple T Trading, LTD, is rooted in the Pacific Northwest and is
                  staying in the city of Marysville, a small rural community north of Seattle. The
                  company is moving from a 30,000-square-foot building to a new 110,000-squarefoot
                  office/warehouse complex, which will allow Northside to consolidate
                  operations, as the company has been using off-site warehousing for several years.
                  All current and future Northside staff will now be under one roof, including
                  management, operations, purchasing, design and development, administrative and
                  accounting functions.
                </p>
                <p>
                  The new warehouse was purpose-built for Northside, and incorporates the latest
                  wire guide materials handling technology and five-high racking to maximize
                  efficiency and space. The building is split into 15,000-square-feet of office, and over
                  90,000-square-feet of highly efficient warehouse.
                </p>
                <p>
                  “It is an exciting time for the Northside brand,” said Jack Wolfin, President of Triple
                  T Trading. “We are thankful to stay in beautiful Marysville, overlooking majestic Mt
                  Pilchuck and the Cascade mountain range. This is our home, and we found the
                  perfect property to build and house our entire organization. The move is a result of
                  our strategic growth and the new building will help us achieve our mission: to better
                  service our customers and meet the footwear needs of families and recreational
                  outdoor enthusiasts.”
                </p>
                <p>
                  The Northside brand was founded in 2000 with a focus on the other side of outdoor
                  recreation. Northside proudly serves families and average, everyday recreational
                  hikers and campers for whom the highly technical (and expensive) legacy brands
                  may not be the best choice.
                </p>
                <p>
                  For more information on Northside, visit <a href="http://www.nothsideusa.com">northsideusa.com</a>.
                </p>
                <p>
                  <b>About Northside</b><br>
                  Based in Marysville, Wash., Northside is the leader in recreational outdoor footwear
                  for families and recreational hikers and campers, offering a range of products from
                  winter boots and trail shoes to sandals and flip-flops. Northside focuses on making
                  reliable, accessible, and affordable products that have all the performance features
                  casual outdoor enthusiasts need, and believes that indecipherable technical
                  footwear jargon won’t make an impact on the average hiker’s outdoor enjoyment.
                  Triple T Trading, the parent company for the Northside brand, was founded in 1985
                  with the goal to design, manufacture, and sell well-made footwear at a great value.
                </p>
                <p>&nbsp;</p>
                <p align="right">Danny Pettey</p>
                <p align="right">Media Contact</p>
                <p align="right"><a href="mailto:danny@sasquatchagency.com">danny@sasquatchagency.com</a></p>
                <p align="right">541-968-8242 </p>
              </div>
            </div>
          </div>
          <!--/.item-blog-post-->

          <!-- <div class="RecommendedBlog clearfix text-center">
            <div class="h2 RecommendedTitle">Recommended</div>
            <div class="row">
              <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
                <div class="blog-rc-item"><a href="blog-details.html"> <span class="rcimg"><%= image_tag("news/unnamed.jpg", class: "img-responsive") %></span> <span class="h4">Cras rutrum diam velit, id ullamcorper turpis</span> </a></div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
                <div class="blog-rc-item"><a href="blog-details.html"> <span class="rcimg"><%= image_tag("news/unnamed2.jpg", class: "img-responsive") %></span> <span class="h4">Cras rutrum diam velit, id ullamcorper turpis</span> </a></div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
                <div class="blog-rc-item"><a href="blog-details.html"> <span class="rcimg"> <%= image_tag("news/unnamed3.jpg", class: "img-responsive") %></span> <span class="h4">Cras rutrum diam velit, id ullamcorper turpis</span> </a></div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
                <div class="blog-rc-item"><a href="blog-details.html"> <span class="rcimg"><%= image_tag("news/unnamed4.jpg", class: "img-responsive") %></span> <span class="h4">Cras rutrum diam velit, id ullamcorper turpis</span> </a></div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
