<section class="blog-intro parallaxOffset parallaxbg parallax-image-aboutus">
  <div class="display-table relative5 hw100">
    <div class="display-table-cell hw100 relative">
      <div class="container blogIntroContent zindex10 relative scrollme">
        <div class="row">
          <div class="  wow  fadeInDown introContent text-center" data-wow-duration="0.2s" data-wow-delay=".5s">
            <h1 class="x2large"> Northside USA News </h1>
            <h5 class="parallaxSubtitle"> The latest news, advice, and comments. </h5>

            <!-- <div class="subscribe-dropdown">
              <div class="dropdown">
                <a class="btn btn-subscribe dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">Subscribe</a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li>
                    <div>
                      <label>
                        <input name="option1" value="option1" type="checkbox">
                        &nbsp; Latest News </label>
                    </div>
                  </li>
                  <li>
                    <div>
                      <label>
                        <input name="option2" value="option2" type="checkbox">
                        &nbsp; New Product </label>
                    </div>
                  </li>
                  <li>
                    <div>
                      <label>
                        <input name="option3" value="option2" type="checkbox">
                        &nbsp; Offer </label>
                    </div>
                  </li>
                  <li>
                    <input placeholder="Enter Your Email" id="subemail" name="subemail" type="text"/>
                  </li>
                  <li><a href="#" class="btn btn-block"> Subscribe </a></li>
                </ul>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay-shade"></div>
  <div class="background-overly g6"></div>
</section>
<!--/.blog-intro -->

<div class="blog-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-centered blog-left">
        <div class="bl-inner">
          <div class="item-blog-post">
            <div class="post-header clearfix">
              <h2 class="fadeInDown  wow" data-wow-duration="0.2s" data-wow-delay=".5s">MOMENTUM CONTINUES: OUTDOOR BRAND NORTHSIDE NOW AVAILABLE IN CHINA</h2>
              <h3>The Washington State-Based Family Footwear Company Available in Mainland China as Growth Continues</h3>

              <div class="post-info"><span>September 19, 2016</span>

                <div class="share-gallery pull-right no-float-xs"><a class="share-facebook"> <i class="fa fa-facebook-f"> </i> </a> <a class="share-twitter" href="http://facebook.com"> <i class="fa fa-twitter"> </i> </a> <a class="share-pinterest" href="http://facebook.com"> <i class="fa fa-pinterest-p"> </i> </a> <a class="share-email" href="#"> <i class="fa fa-envelope-o"> </i> </a>
                </div>
              </div>
            </div>
            <div class="post-main-view">
              <div class="post-description wow  fadeIn  " data-wow-duration="0.2s" data-wow-delay=".1s">
                <p>
                  <b>MARYSVILLE, Wash.</b> September 19, 2016 <b> – </b>Building on the momentum of its recent move into a new 110,000 square-foot headquarters in Marysville, Wash., family outdoor footwear brand Northside recently partnered with Fortune Star International based in Shanghai, China for broad distribution of its approachable, affordable outdoors footwear throughout mainland China.
                </p>
                <p>
                  Northside is owned by Triple T Trading, LTD and rooted in the Pacific Northwest -- recently relocating its headquarters to a new location in the city of Marysville, a small rural community north of Seattle. Triple T Trading has had a relationship with Fortune Star International (an outdoor products trading and distribution company) since 2012 and has been in discussions for over a year to partner on enhancing the availability of the Northside brand throughout China.
                </p>
                <p>
                  “People everywhere are looking for a dependable, approachable outdoor brand,” said Jack Wolfin, President of Triple T Trading. “We are thrilled at the opportunity to make our footwear available throughout mainland China. This added distribution further enhances our mission: to better service our customers and meet the footwear needs of families and recreational outdoor enthusiasts.”
                </p>
                <p>
                  Among the reasons Northside expanded its availability to China is the country’s burgeoning outdoors market, which continues to see an elevated interest in family outdoor activities. Toward the end of the decade (2018-2020) the <a href="http://www.ispo.com/en/markets/id_78349822/china-s-outdoor-market-continues-to-show-healthy-growth.html" target="_blank">Chinese Outdoor Association expects an accelerated growth of the outdoors market somewhere between 12-20 percent annually</a>. Those optimistic expectations would mean that the market would reach a volume of 32.1 billion yuan ($4.9 billion USD) by the end of 2020.
                </p>
                <p>
                  As it does in North America, Northside wanted to make its family friendly line available in the Chinese market, which lacks an affordable, quality outdoor footwear option.
                </p>
                <p>
                  “We feel like there will be a growing demand for outdoor footwear as more people in China want to get out and explore,” said Nam Lui, the President of Fortune Star International. “We’re excited to make Northside footwear more readily available as people of all ages continue to show an enthusiasm for the outdoors.”
                <p>
                  Fortune Star distributes directly into the outdoor retail channel throughout all regions of China and presented the Northside brand at both the Beijing and Shanghai ISPO shows over the past year.  Starting in fall/winter 2015 Fortune Star International partnered with Sanfo, the largest domestic outdoor products retailer in China to offer Northside footwear in their retail locations and on-line.  The brands continued growth into 2016 both with Sanfo and numerous other outdoor retailers shows the demand and opportunity for the Northside brand throughout China.
                </p>
                <p>
                  The Northside brand was founded in 2000 with a focus on the other side of outdoor recreation. Northside proudly serves families and average, everyday recreational hikers and campers for whom the highly technical (and expensive) legacy brands may not be the best choice.
                </p>
                <p>
                  For more information on Northside, visit <a href="http://www.nothsideusa.com">northsideusa.com</a>.
                </p>
                <p>
                  <b>About Northside</b><br>
                  Based in Marysville, Wash., Northside is the leader in recreational outdoor footwear
                  for families and recreational hikers and campers, offering a range of products from
                  winter boots and trail shoes to sandals and flip-flops. Northside focuses on making
                  reliable, accessible, and affordable products that have all the performance features
                  casual outdoor enthusiasts need, and believes that indecipherable technical
                  footwear jargon won’t make an impact on the average hiker’s outdoor enjoyment.
                  Triple T Trading, the parent company for the Northside brand, was founded in 1985
                  with the goal to design, manufacture, and sell well-made footwear at a great value.
                </p>
                <p>&nbsp;</p>
                <p align="right">Kyle Mallory</p>
                <p align="right">Media Contact</p>
                <p align="right"><a href="mailto:kyle@sasquatchagency.com">kyle@sasquatchagency.com</a></p>
                <p align="right">503-332-2245 </p>
              </div>
            </div>
          </div>
          <!--/.item-blog-post-->

          <!-- <div class="RecommendedBlog clearfix text-center">
            <div class="h2 RecommendedTitle">Recommended</div>
            <div class="row">
              <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
                <div class="blog-rc-item"><a href="blog-details.html"> <span class="rcimg"><%= image_tag("news/unnamed.jpg", class: "img-responsive") %></span> <span class="h4">Cras rutrum diam velit, id ullamcorper turpis</span> </a></div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
                <div class="blog-rc-item"><a href="blog-details.html"> <span class="rcimg"><%= image_tag("news/unnamed2.jpg", class: "img-responsive") %></span> <span class="h4">Cras rutrum diam velit, id ullamcorper turpis</span> </a></div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
                <div class="blog-rc-item"><a href="blog-details.html"> <span class="rcimg"> <%= image_tag("news/unnamed3.jpg", class: "img-responsive") %></span> <span class="h4">Cras rutrum diam velit, id ullamcorper turpis</span> </a></div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
                <div class="blog-rc-item"><a href="blog-details.html"> <span class="rcimg"><%= image_tag("news/unnamed4.jpg", class: "img-responsive") %></span> <span class="h4">Cras rutrum diam velit, id ullamcorper turpis</span> </a></div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
