<section class="blog-intro parallaxOffset parallaxbg parallax-image-aboutus">
  <div class="display-table relative5 hw100">
    <div class="display-table-cell hw100 relative">
      <div class="container blogIntroContent zindex10 relative scrollme">
        <div class="row">
          <div class="  wow  fadeInDown introContent text-center" data-wow-duration="0.2s" data-wow-delay=".5s">
            <h1 class="x2large"> Northside USA News </h1>
            <h5 class="parallaxSubtitle"> The latest news, advice, and comments. </h5>

            <!-- <div class="subscribe-dropdown">
              <div class="dropdown">
                <a class="btn btn-subscribe dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">Subscribe</a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li>
                    <div>
                      <label>
                        <input name="option1" value="option1" type="checkbox">
                        &nbsp; Latest News </label>
                    </div>
                  </li>
                  <li>
                    <div>
                      <label>
                        <input name="option2" value="option2" type="checkbox">
                        &nbsp; New Product </label>
                    </div>
                  </li>
                  <li>
                    <div>
                      <label>
                        <input name="option3" value="option2" type="checkbox">
                        &nbsp; Offer </label>
                    </div>
                  </li>
                  <li>
                    <input placeholder="Enter Your Email" id="subemail" name="subemail" type="text"/>
                  </li>
                  <li><a href="#" class="btn btn-block"> Subscribe </a></li>
                </ul>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay-shade"></div>
  <div class="background-overly g6"></div>
</section>
<!--/.blog-intro -->

<div class="blog-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-centered blog-left">
        <div class="bl-inner">
          <div class="item-blog-post">
            <div class="post-header clearfix">
              <h2 class="fadeInDown  wow" data-wow-duration="0.2s" data-wow-delay=".5s">Northside Unveils On-Trend New Women’s Cold Weather Lifestyle Boots</h2>

              <div class="post-info"><span>January 14th, 2015</span>

                <div class="share-gallery pull-right no-float-xs"><a class="share-facebook"> <i class="fa fa-facebook-f"> </i> </a> <a class="share-twitter" href="http://facebook.com"> <i class="fa fa-twitter"> </i> </a> <a class="share-pinterest" href="http://facebook.com"> <i class="fa fa-pinterest-p"> </i> </a> <a class="share-email" href="#"> <i class="fa fa-envelope-o"> </i> </a>
                </div>
              </div>
            </div>
            <div class="post-main-view">
              <div class="post-description wow  fadeIn  " data-wow-duration="0.2s" data-wow-delay=".1s">
                <p><b>MARYSVILLE, Wash.</b> (January 14, 2015)<b> – </b><a href="http://www.northside.com">Northside</a>, a leader in footwear for the recreational outdoor enthusiast, takes a cue from the fashion world with its new lineup of on-trend women’s lifestyle boots for winter. The brand builds on its popular female-focused footwear offerings for the 2015/2016 cold weather season with even more stylish options to keep out the chill, no matter the adventure.</p>
                <p><i>Highlights for Fall and Winter 2015/2016:</i></p>
                <p><b></b></p>
                <p><b>Women’s Sun Peak</b></p>
                <p>Face the winter on-trend with this highly-functional women’s winter lifestyle boot. The Sun Peak provides warmth and comfort with a tall shaft, Thinsulate insulation, and durable waterproof suede construction. A fashion-forward knit collar adds stylish flair and fully sealed seams means this boot provides excellent protection from the elements. <b>MSRP $89.99</b></p>
                <p><b>Women’s Sloan</b></p>
                <p>The Sloan will compliment any fall fashion statement with a stylish faux fur padded collar and fun deco-stitch pattern. A TPR sole adds much needed traction for icy sidewalks, and a soft berber lining lends warmth and comfort for all-day wear. <b>MSRP $59.99</b></p>
                <p>For more information on Northside shoes, visit <a href="http://www.northsideusa.com">www.northsideusa.com</a>, and to join our community, visit our <a href="https://www.facebook.com/pages/Northside-USA/151316914912827">Facebook page</a>. To check out these shoes in person, stop by the Northside booth (#<a href="http://n2b.goexposoftware.com/events/ors2014/goExpo/floorPlan/viewFloorPlan.php?ei=496&amp;zb=30137W">30165W</a>) at Outdoor Retailer, January 21-24, 2015.</p>
                <p><b>About Northside</b></p>
                <p>Northside by Triple T Trading is a quality footwear brand for all-seasons, available in contemporary styles. Offering a range of styles from winter boots and trail shoes to sandals and flip-flops, Northside shoes are rugged, reliable and affordable for families who want to enjoy the outdoors together. Triple T Trading, the parent company for the Northside brand was founded in 1985 with the goal to design, manufacture and sell well-made affordable footwear. Northside by Triple T Trading is headquartered in Marysville, Wash. For more information, please visit <a href="http://www.northsideusa.com">www.northsideusa.com</a>.</p>
                <p align="right"><span style="font-weight: bold">Media Contact:&nbsp;</span></p>
                <p align="right">Lisa Mullen</p>
                <p align="right">Verde PR &amp; Consulting</p>
                <p align="right"><a href="mailto:crabun@verdepr.com">lisa@verdepr.com</a></p>
                <p align="right">970-259-3555</p>
              </div>
            </div>
          </div>
          <!--/.item-blog-post-->

          <!-- <div class="RecommendedBlog clearfix text-center">
            <div class="h2 RecommendedTitle">Recommended</div>
            <div class="row">
              <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
                <div class="blog-rc-item"><a href="blog-details.html"> <span class="rcimg"><%= image_tag("news/unnamed.jpg", class: "img-responsive") %></span> <span class="h4">Cras rutrum diam velit, id ullamcorper turpis</span> </a></div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
                <div class="blog-rc-item"><a href="blog-details.html"> <span class="rcimg"><%= image_tag("news/unnamed2.jpg", class: "img-responsive") %></span> <span class="h4">Cras rutrum diam velit, id ullamcorper turpis</span> </a></div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
                <div class="blog-rc-item"><a href="blog-details.html"> <span class="rcimg"> <%= image_tag("news/unnamed3.jpg", class: "img-responsive") %></span> <span class="h4">Cras rutrum diam velit, id ullamcorper turpis</span> </a></div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
                <div class="blog-rc-item"><a href="blog-details.html"> <span class="rcimg"><%= image_tag("news/unnamed4.jpg", class: "img-responsive") %></span> <span class="h4">Cras rutrum diam velit, id ullamcorper turpis</span> </a></div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
