<section class="blog-intro parallaxOffset parallaxbg parallax-image-aboutus">
  <div class="display-table relative5 hw100">
    <div class="display-table-cell hw100 relative">
      <div class="container blogIntroContent zindex10 relative scrollme">
        <div class="row">
          <div class="  wow  fadeInDown introContent text-center">
            <h1 class="x2large"> Northside USA News </h1>
            <h5 class="parallaxSubtitle"> The latest news, advice, and comments. </h5>

            <!-- <div class="subscribe-dropdown">
              <div class="dropdown"><a class="btn btn-subscribe dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">Subscribe</a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li>
                    <div>
                      <label>
                        <input name="option1" value="option1" type="checkbox">
                        &nbsp; Latest News </label>
                    </div>
                  </li>
                  <li>
                    <div>
                      <label>
                        <input name="option2" value="option2" type="checkbox">
                        &nbsp; New Product </label>
                    </div>
                  </li>
                  <li>
                    <div>
                      <label>
                        <input name="option3" value="option2" type="checkbox">
                        &nbsp; Offer </label>
                    </div>
                  </li>
                  <li>
                    <input placeholder="Enter Your Email" id="subemail" name="subemail" type="text"/>
                  </li>
                  <li><a href="#" class="btn btn-block"> Subscribe </a></li>
                </ul>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay-shade"></div>
  <div class="background-overly g6"></div>
</section>
<!--/.blog-intro -->

<div class="blog-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-centered blog-left">
        <div class="bl-inner">
          <div class="item-blog-post">
            <div class="post-header clearfix">
              <h2 class="wow  fadeIn  " data-wow-duration="0.2s"><a href="/northside-introduces-new-kids-winter-boots"> Northside Introduces New Kids’ Winter Boots </a></h2>

              <div class="post-info"> by <span><a class="userBy">Pitch Engine</a></span> on
                <span>January 20th, 2015</span>

                <div class="share-gallery pull-right no-float-xs"><a class="share-facebook" href="https://www.facebook.com/pages/Northside-USA/151316914912827"> <i class="fa fa-facebook-f"> </i> </a> <a class="share-twitter" href="https://twitter.com/NorthsideUSA"> <i class="fa fa-twitter"> </i> </a> <a class="share-pinterest" href="http://www.pinterest.com/northsideusa"> <i class="fa fa-pinterest-p"> </i> </a>
                </div>
              </div>
            </div>
            <div class="post-main-view">
              <div class="post-description  wow fadeInDown  " data-wow-duration="0.2s">
                <p> Northside, a leader in footwear for the recreational outdoor enthusiast, introduces an all-new cold weather boot for kids for the Fall and Winter 2015/2016 season. The brand has long been known for its bestselling boot, the Frosty, and now it takes foot protection for little ones to a whole new level with the colorful, durable Zephyr.</p>
                <a href="/northside-introduces-new-kids-winter-boots" class="btn btn-more"> See More <i class="fa fa-long-arrow-right"></i> </a>
              </div>
            </div>
          </div>
          <!--/.item-blog-post-->

          <div class="item-blog-post">
            <div class="post-header clearfix">
              <h2 class=" wow fadeInDown  " data-wow-duration="0.2s"><a href="/northside-unveils-on-trend-new-womens-cold-weather-lifestyle-boots"> Northside Unveils On-Trend New Women’s Cold Weather Lifestyle Boots </a></h2>

              <div class="post-info"> by <span><a class="userBy">Pitch Engine</a></span> on
                <span>January 14, 2015</span>

                <div class="share-gallery pull-right no-float-xs"><a class="share-facebook" href="https://www.facebook.com/pages/Northside-USA/151316914912827"> <i class="fa fa-facebook-f"> </i> </a> <a class="share-twitter" href="https://twitter.com/NorthsideUSA"> <i class="fa fa-twitter"> </i> </a> <a class="share-pinterest" href="http://www.pinterest.com/northsideusa"> <i class="fa fa-pinterest-p"> </i> </a>
                </div>
              </div>
            </div>
            <div class="post-main-view">
              <div class="post-description  wow fadeInDown  " data-wow-duration="0.2s">
                <p>Northside, a leader in footwear for the recreational outdoor enthusiast, takes a cue from the fashion world with its new lineup of on-trend women’s lifestyle boots for winter. The brand builds on its popular female-focused footwear offerings for the 2015/2016 cold weather season with even more stylish options to keep out the chill, no matter the adventure.</p>
                <a href="/northside-unveils-on-trend-new-womens-cold-weather-lifestyle-boots" class="btn btn-more"> See More <i class="fa fa-long-arrow-right"></i> </a>
              </div>
            </div>
          </div>
          <!--/.item-blog-post-->

          <div class="item-blog-post">
            <div class="post-header clearfix">
              <h2><a href="/northside-project-sole">Northside and Project Sole Make a Difference for the Boys and Girls Club </a></h2>

              <div class="post-info"><span>January 13th, 2015</span>

                <div class="share-gallery pull-right no-float-xs"><a class="share-facebook" href="https://www.facebook.com/pages/Northside-USA/151316914912827"> <i class="fa fa-facebook-f"> </i> </a> <a class="share-twitter" href="https://twitter.com/NorthsideUSA"> <i class="fa fa-twitter"> </i> </a> <a class="share-pinterest" href="http://www.pinterest.com/northsideusa"> <i class="fa fa-pinterest-p"> </i> </a>
                </div>
              </div>
            </div>
            <div class="post-main-view">
              <div class="post-lead-image  wow fadeInDown  " data-wow-duration="0.2s"><a href="post-details.html"> <%= image_tag("news/NorthsideProjectSoleHappyGirl.png", class: "img-responsive") %> </a></div>

              <div class="post-description  wow fadeInDown  " data-wow-duration="0.2s">
                <p>The holidays are all about bringing people together, whether it’s family around a dinner table or spending time with friends over a cup of hot chocolate. As an independent, family owned and operated business, Northside knows exactly how important it is to bring people together to support and celebrate one another.</p>
                <a href="/northside-project-sole" class="btn btn-more"> See More <i class="fa fa-long-arrow-right"></i> </a>
              </div>
            </div>
          </div>
          <!--/.item-blog-post-->

          <div class="item-blog-post">
            <div class="post-header clearfix">
              <h2><a href="/northside-expands-trail-line-to-meet-more-needs-than-ever-before"> Northside Expands Trail Line to Meet More Needs Than Ever Before </a></h2>

              <div class="post-info">
                <span>January 12th, 2015</span>

                <div class="share-gallery pull-right no-float-xs"><a class="share-facebook" href="https://www.facebook.com/pages/Northside-USA/151316914912827"> <i class="fa fa-facebook-f"> </i> </a> <a class="share-twitter" href="https://twitter.com/NorthsideUSA"> <i class="fa fa-twitter"> </i> </a> <a class="share-pinterest" href="http://www.pinterest.com/northsideusa"> <i class="fa fa-pinterest-p"> </i> </a>
                </div>
              </div>
            </div>
            <div class="post-main-view">
              <div class="post-description  wow fadeInDown  " data-wow-duration="0.2s">
                <p>Northside, a leader in footwear for the recreational outdoor enthusiast, unveils an expanded trail line for Fall and Winter 2015/2016 to meet the needs of more consumers than ever before. With an increasing number of adventurers hitting the trails every year, Northside is building on its product offerings to best serve its growing customer base. New boots include added men’s models, updated women’s styles, and a continued focus on hunting offerings.</p>

                <a href="/northside-expands-trail-line-to-meet-more-needs-than-ever-before" class="btn btn-more"> See More <i class="fa fa-long-arrow-right"></i> </a>
              </div>
            </div>
          </div>
          <!--/.item-blog-post-->

          <!-- <div class="loadMoreBlog clearfix text-center"><a class="btn  btn-block"> LOAD MORE </a></div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!--/.blogwrapper -->
