<div class="container main-container headerOffset">
    <div class="row innerPage">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">
                    <h1 class=" text-left border-title"> Terms and Conditions </h1>
                    <p><strong>Last Updated:  April 13, 2015</strong></p>
                    <p>PLEASE READ THESE TERMS OF SERVICE CAREFULLY, INCLUDING THE MANDATORY ARBITRATION PROVISION IN SECTION 14. BY ACCESSING OR USING OUR websites or by purchasing products through our websites, YOU AGREE TO BE BOUND BY THESE TERMS OF SERVICE AND ALL TERMS INCORPORATED HEREIN BY REFERENCE. IF YOU DO NOT AGREE TO ALL OF THESE TERMS, DO NOT ACCESS OR USE OUR WEBSITES and do not purchase any products through our websites.</p>

                    <p>These Terms of Service (&#8220;<strong><em>Terms</em></strong>&#8220;) apply when you access or use the websites (collectively, the &#8220;<strong><em>Services</em></strong>&#8220;) provided by Triple T Trading Ltd., which also does business as Northside (&#8220;<strong><em>Northside</em></strong>,&#8221; &#8220;<strong><em>we</em></strong>,&#8221; &#8220;<strong><em>us</em></strong>&#8221; or &#8220;<strong><em>our</em></strong>&#8220;), or when you purchase a product through the Services.  These Terms do not alter in any way the terms or conditions of any other agreement you may have with Northside for products, services or otherwise. If you are accessing or using the Services on behalf of any entity, you represent and warrant that you are authorized to accept these Terms on such entity&#8217;s behalf and that such entity agrees to be responsible to us if you violate these Terms.</p>

                    <p>Northside reserves the right to change or modify these Terms at any time and in our sole discretion. If Northside makes changes to these Terms, we will provide notice of such changes, such as by sending you an email notification, providing notice through the Services or updating the &#8220;Last Updated&#8221; date at the top of these Terms. Your continued use of the Services will confirm your acceptance of the revised Terms. We encourage you to review the Terms frequently to ensure that you understand the terms and conditions that apply when you access or use the Services. If you do not agree to the Terms, you must stop accessing and using our Services.</p>

                    <hr>

                    <div class="w100 clearfix">
                      <ol>
<li><h3> Privacy Policy </h3></li>
</ol>
<p>Please refer to our <a href="https://northsideusa.com/northside-privacy-policy-2"><strong>Privacy Policy</strong></a> for information about how we collect, use and disclose information about you.</p>
                    <hr>
<ol start="2">
<li><h3> Eligibility</h3></li>
</ol>
<p>The Services are not targeted towards, nor intended for use by, anyone under the age of 18. By using the Services, you represent and warrant that you: (a) are 18 years of age or older; (b) have not been previously suspended or removed from the Services; and (c) have full power and authority to enter into these Terms and that, in doing so, you will not violate any other agreement to which you are a party.</p>
                    <hr>
<ol start="3">
<li><h3> Terms of Sale</h3></li>
</ol>
<p><strong>Pricing and Availability</strong></p>
<p>All prices are shown in U.S. dollars and applicable taxes and other charges, if any, are additional. All products are subject to availability and we reserve the right to impose quantity limits on any order, to reject all or part of an order and to discontinue offering products without prior notice, even if you have already placed your order. All prices are subject to change without notice.</p>
<p>In the event that the size of a product you are interested in purchasing is not listed or is greyed out in the &#8220;Size&#8221; drop-down box on the product&#8217;s information page on the Services, it is not currently available for ordering. Please check back at a later time as our product inventory is subject to change.</p>
<p><strong>Payment and Billing Information</strong></p>
<p>By providing a credit card or other payment method to purchase products through the Services, you represent and warrant that you are authorized to use the designated payment method and that you authorize us (or our third-party payment processor) to charge your payment method for the total amount of your order (including any applicable taxes and other charges). If the payment method cannot be verified, is invalid or is otherwise not acceptable, your order may be suspended or cancelled. You must resolve any problem we encounter in order to proceed with your order.</p>
<p><strong>Shipping and Handling</strong><br />
<strong> </strong><br />
You agree to pay any shipping and handling charges shown at the time you make a purchase through the Services. We reserve the right to increase, decrease, add or eliminate shipping and handling charges from time to time, but we will provide notice of the charges applicable to you before you make your purchase. Generally, shipping is handled by a third-party courier, and any shipping times shown on the Services are estimates only – actual delivery dates may vary. You agree that you will not obtain or direct shipment of a product for export.</p>
<p><strong>Returns, Exchanges and Refunds</strong><br />
<strong> </strong><br />
We want you to be 100% satisfied with your purchase through the Services. If for any reason you are not completely satisfied with a Northside product that you purchased through the Services, then please contact us at <a href="mailto:contact@northsideusa.com">contact@northsideusa.com</a> and comply with the terms of our Return Policy <strong>[insert hyperlink] </strong>within the first ninety (90) days after your purchase.  We will work with you to resolve your concerns.  We may, in our discretion, provide a refund or replacement.  This is not a warranty or a guarantee, however, and we reserve the right to decline to provide any remedy.</p>
<p>General information and instructions regarding how to seek a return or an exchange of a Northside product that you purchased through the Services can be found in our Return Policy <strong>[insert hyperlink]</strong>. Please note that, if you do not comply with any of the terms of our Return Policy <strong>[insert hyperlink]</strong>, we reserve the right to refuse your return or exchange, or to impose different or additional conditions.</p>
<p>If you believe a product sold by Northside has a condition or defect that may make it unsafe, please report your safety concern immediately by emailing us at <a href="mailto:contact@northsideusa.com">contact@northsideusa.com</a>.<br />
<strong> </strong></p>
                    <hr>
<ol start="4">
<li><h3> License to Access and Use our Services and Content </h3></li>
</ol>
<p>Unless otherwise indicated in writing by us, the Services and all content and other materials contained therein, including, without limitation, the Northside logo and all designs, text, graphics, pictures, information, data, software, sound files, other files and the selection and arrangement thereof (collectively, &#8220;<strong><em>Content</em></strong>&#8220;) are the proprietary property of Northside or our licensors or users and are protected by U.S. and international copyright laws.</p>
<p>You are hereby granted a limited, non-exclusive, non-sublicensable license to access and use the Services and Content; however, such license is subject to these Terms and does not include: (a) any resale or commercial use of the Services or Content; (b) the collection and use of any product listings, pictures or descriptions; (c) the distribution, public performance or public display of any Content; (d) modifying or otherwise making any derivative uses of the Services or Content, or any portion thereof; (e) use of any data mining, robots or similar data gathering or extraction methods; (f) downloading (other than the page caching) of any portion of the Services or Content, except as expressly permitted by us; and (g) any use of the Services or Content other than for their intended purposes. Any use of the Services or Content other than as specifically authorized herein, without our prior written permission, is strictly prohibited and will terminate the license granted herein. Such unauthorized use also may violate applicable laws, including without limitation copyright and trademark laws and applicable communications regulations and statutes. Unless explicitly stated by us, nothing in these Terms shall be construed as conferring any right or license to any patent, trademark, copyright or other proprietary rights of Northside or any third party, whether by estoppel, implication or otherwise. This license is revocable at any time.</p>
<p>Notwithstanding anything to the contrary in these Terms, the Services and Content may include software components provided by Northside or a third party that are subject to separate license terms, in which case those license terms will govern such software components.</p>
                    <hr>
<ol start="5">
<li><h3> Trademarks </h3></li>
</ol>
<p>NORTHSIDE, JUST FOR FUN and the Northside logo and any other Northside product or service names, logos or slogans that may appear on the Services are trademarks of Northside and may not be copied, imitated or used, in whole or in part, without our prior written permission. You may not use any metatags or other &#8220;hidden text&#8221; utilizing &#8220;Northside&#8221; or any other name, trademark or product or service name of Northside without our prior written permission. In addition, the look and feel of the Services, including all page headers, custom graphics, button icons and scripts, is the service mark, trademark and/or trade dress of Northside and may not be copied, imitated or used, in whole or in part, without our prior written permission. All other trademarks, registered trademarks, product names and company names or logos mentioned in the Services are the property of their respective owners and may not be copied, imitated or used, in whole or in part, without the permission of the applicable trademark holder. Reference to any products, services, processes or other information, by name, trademark, manufacturer, supplier or otherwise does not constitute or imply endorsement, sponsorship or recommendation by Northside.<br />
<strong>        </strong></p>
                    <hr>
<ol start="6">
<li><h3> Hyperlinks </h3></li>
</ol>
<p>You are granted a limited, non-exclusive right to create a text hyperlink to the Services for non-commercial purposes, provided that such link does not portray Northside or any of our products or services in a false, misleading, derogatory or otherwise defamatory manner and provided further that the linking site does not contain any adult or illegal material or any material that is offensive, harassing or otherwise objectionable.  This limited right may be revoked at any time.  You may not use a Northside logo or other proprietary graphic of Northside to link to the Services without our express written permission. Further, you may not use, frame or utilize framing techniques to enclose any Northside trademark, logo or other proprietary information, including the images found at the Services, the content of any text or the layout/design of any page or form contained on a page on the Services without our express written consent.</p>
<p>Northside makes no claim or representation regarding, and accepts no responsibility for, the quality, content, nature or reliability of third-party websites accessible by hyperlink from the Services, or websites linking to the Services. Such sites are not under our control, and we are not responsible for the contents of any linked site, any link contained in a linked site, or any review, changes or updates to such sites. We provide these links to you only as a convenience, and the inclusion of any link does not imply our affiliation, endorsement or adoption of any site or any information contained therein. When you leave the Services, you should be aware that our terms and policies no longer govern. You should review the applicable terms and policies, including privacy and data gathering practices, of any site to which you navigate from the Services.</p>
                    <hr>
<ol start="7">
<li><h3> Third-Party Content</h3></li>
</ol>
<p>We may display content from third parties through the Services or may provide links to certain web pages and content of third parties (collectively, &#8220;<strong><em>Third-Party Content</em></strong>&#8220;) as a service to those interested in this information. We do not control, endorse or adopt any Third-Party Content, and we make no representations or warranties of any kind regarding such Third-Party Content, including without limitation regarding its accuracy or completeness. You acknowledge and agree that your interactions with third parties providing Third-Party Content through the Services are solely between you and such third parties, and that Northside is not responsible or liable in any manner for such interactions or Third-Party Content.</p>
                    <hr>
<ol start="8">
<li><h3>Acceptable Use of the Services</h3></li>
</ol>
<p>You agree that your access to and use of the Services will not violate any law, contract, intellectual property or other third-party right or constitute a tort, and that you are solely responsible for your conduct while on the Services. You further agree that you will abide by these Terms and will not:<br />
<strong><em> </em></strong></p>
<ul>
<li>Use the Services in any manner that could interfere with, disrupt, negatively affect or inhibit other users from fully enjoying the Services, or that could damage, disable, overburden or impair the functioning of the Services in any manner;</li>
</ul>
<p>&nbsp;</p>
<ul>
<li>Send any unsolicited or unauthorized advertising, solicitations, promotional materials, spam, junk mail, chain letters or pyramid schemes, or harvest or collect the email addresses or other contact information of other users from the Services for the purpose of sending spam or other commercial messages;</li>
</ul>
<p>&nbsp;</p>
<ul>
<li>Use any robot, spider, crawler, scraper or other automated means or interface not provided by us to access the Services or to extract data;</li>
</ul>
<p>&nbsp;</p>
<ul>
<li>Reverse engineer any aspect of the Services or do anything that might discover source code or bypass or circumvent measures employed to prevent or limit access to any area, content or code of the Services (except as otherwise expressly permitted by law);</li>
</ul>
<p>&nbsp;</p>
<ul>
<li>Attempt to circumvent any content filtering techniques we employ, or attempt to access any service or area of the Services that you are not authorized to access;</li>
</ul>
<p>&nbsp;</p>
<ul>
<li>Engage in any harassing, intimidating, predatory or stalking conduct;</li>
</ul>
<p>&nbsp;</p>
<ul>
<li>Develop any third-party applications that interact with the Services without our prior written consent; or</li>
</ul>
<p>&nbsp;</p>
<ul>
<li>Use the Services for any illegal or unauthorized purpose or engage in, encourage, or promote any activity that violates these Terms or is otherwise objectionable to us.</li>
</ul>
<p><strong> </strong><br />
Enforcement of these Terms is solely in our discretion, and the absence of enforcement in some instances does not constitute a waiver of our right to enforce these Terms in other instances. In addition, these Terms do not create any private right of action on the part of any third party or any reasonable expectation or promise that the Services will not contain any content that is prohibited by these Terms. Any use of the Services in violation of these Terms may result in, among other things, termination or suspension of your rights to use the Services.<br />
<strong> </strong></p>
                    <hr>
<ol start="9">
<li><h3> Feedback</h3></li>
</ol>
<p>You can submit questions, comments, suggestions, ideas, original or creative materials or other information about Northside, our products and the Services (collectively, &#8220;<strong><em>Feedback</em></strong>&#8220;). Feedback is non-confidential and shall become the sole property of Northside. Northside shall own exclusive rights, including all intellectual property rights, in and to such Feedback and shall be entitled to the unrestricted use and dissemination of this Feedback for any purpose, commercial or otherwise, without acknowledgment or compensation to you.</p>
                    <hr>
<ol start="10">
<li><h3> Indemnification</h3></li>
</ol>
<p>To the fullest extent permitted by law, you agree to defend, indemnify and hold harmless Northside and its partners, subsidiaries, affiliates, successors and assigns, and any of their respective directors, officers, employees, agents, independent contractors, service providers and consultants (collectively, the &#8220;<strong><em>Northside Parties</em></strong>&#8220;), from and against any and all actual or alleged claims, damages, costs, losses, liabilities and expenses (including, but not limited to, reasonable attorneys&#8217; fees) (collectively, &#8220;<strong><em>Claims</em></strong>&#8220;), whether in contract or in tort, including, but not limited to, damages to property or personal injury, at law or in equity, that are caused by, arise out of or are related to:  (a) your use or misuse of the Services or any product you purchase through the Services; (b) any Feedback you provide; (c) your violation of these Terms; and (d) your violation of the rights of another.</p>
                    <hr>
<ol start="11">
<li><h3> Disclaimer </h3></li>
</ol>
<p>EXCEPT AS EXPRESSLY PROVIDED TO THE CONTRARY IN THESE TERMS, THE SERVICES, CONTENT AND PRODUCTS YOU PURCHASE THROUGH THE SERVICES ARE PROVIDED ON AN &#8220;AS IS&#8221; BASIS WITHOUT WARRANTIES OF ANY KIND. NORTHSIDE DISCLAIMS ALL OTHER WARRANTIES, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT AS TO THE SERVICES AND CONTENT, ANY WARRANTIES THAT ARISE FROM TRADE USAGE OR CUSTOM, AND ANY WARRANTIES THAT THE SERVICES OR CONTENT ARE ACCURATE, COMPLETE, RELIABLE, CURRENT OR ERROR-FREE. THIS MEANS THAT YOU, THE PURCHASER, BEAR ALL RISK THAT THE NORTHSIDE PRODUCT YOU PURCHASE HAS A DEFECT IN MATERIALS OR WORKMANSHIP AND THAT YOU ARE RESPONSIBLE FOR THE COST OF ANY REPAIR OR REPLACEMENT.</p>
<p>We do not warrant that any product, service, description, photograph, pricing or other information is accurate, complete, reliable, current or error-free. In the event of an error, whether on the Services, in an order confirmation, in processing an order, in delivering a product or otherwise, we reserve the right to correct such error and revise your order accordingly (including charging the correct price) or to cancel the order and refund any amounts charged. Your sole remedy in the event of such error is to cancel your order and obtain a refund.</p>
<p>We reserve the right to change any and all content contained in the Services and to modify, suspend or discontinue the Services or any features or functionality of the Services at any time without notice and without obligation or liability to you. Reference to any products, services, processes or other information, by trade name, trademark, manufacturer, supplier or otherwise does not constitute or imply endorsement, sponsorship or recommendation thereof, or any affiliation therewith, by us.</p>
<p>Some jurisdictions do not allow the disclaimer of implied terms in contracts with consumers, so some or all of the disclaimers in this section may not apply to you.<br />
<strong>        </strong></p>
                    <hr>
<ol start="12">
<li><h3> Limitation of Liability </h3></li>
</ol>
<p>TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW: (A) IN NO EVENT SHALL NORTHSIDE OR THE NORTHSIDE PARTIES BE LIABLE FOR ANY DIRECT, SPECIAL, INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES, OR ANY OTHER DAMAGES OF ANY KIND, INCLUDING BUT NOT LIMITED TO LOSS OF USE, LOSS OF PROFITS OR LOSS OF DATA, WHETHER IN AN ACTION IN CONTRACT, TORT (INCLUDING BUT NOT LIMITED TO NEGLIGENCE) OR OTHERWISE, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OF THE SERVICES, CONTENT OR PRODUCTS YOU PURCHASE THROUGH THE SERVICES, INCLUDING WITHOUT LIMITATION ANY DAMAGES CAUSED BY OR RESULTING FROM RELIANCE BY ANY USER ON ANY INFORMATION OBTAINED FROM NORTHSIDE, OR THAT RESULT FROM MISTAKES, OMISSIONS, INTERRUPTIONS, DELETION OF FILES OR EMAIL, ERRORS, DEFECTS, VIRUSES, DELAYS IN OPERATION OR TRANSMISSION OR ANY FAILURE OF PERFORMANCE, WHETHER OR NOT RESULTING FROM ACTS OF GOD, COMMUNICATIONS FAILURE, THEFT, DESTRUCTION OR UNAUTHORIZED ACCESS TO NORTHSIDE&#8217;S RECORDS, PROGRAMS OR SERVICES; AND (B) IN NO EVENT SHALL THE AGGREGATE LIABILITY OF NORTHSIDE OR THE NORTHSIDE PARTIES, WHETHER IN CONTRACT, WARRANTY, TORT (INCLUDING NEGLIGENCE, WHETHER ACTIVE, PASSIVE OR IMPUTED), PRODUCT LIABILITY, STRICT LIABILITY OR OTHER THEORY, ARISING OUT OF OR RELATING TO THE USE OF THE SERVICES, CONTENT OR PRODUCTS YOU PURCHASE THROUGH THE SERVICES OR TO THESE TERMS EXCEED FIFTY DOLLARS ($50.00).<strong>  </strong></p>
<p>Some jurisdictions do not allow the disclaimer of implied terms in contracts with consumers, so some or all of the disclaimers in this section may not apply to you.</p>
                    <hr>
<ol start="13">
<li><h3> Modifications to the Services</h3></li>
</ol>
<p>We reserve the right to modify or discontinue, temporarily or permanently, the Services or any features or portions thereof. You agree that Northside will not be liable for any modification, suspension or discontinuance of the Services or any part thereof.</p>
                    <hr>
<ol start="14">
<li><h3> Dispute Resolution; Arbitration</h3></li>
</ol>
<p><strong> </strong></p>
<p>PLEASE READ THE FOLLOWING SECTION CAREFULLY BECAUSE IT REQUIRES YOU TO ARBITRATE CERTAIN DISPUTES AND CLAIMS WITH NORTHSIDE AND LIMITS THE MANNER IN WHICH YOU CAN SEEK RELIEF FROM US.</p>
<ul>
<li><strong>Binding Arbitration</strong></li>
</ul>
<p>Except for disputes in which either party seeks to bring an individual action in small claims court or seeks injunctive or other equitable relief for the alleged unlawful use of copyrights, trademarks, trade names, logos, trade secrets or patents, you and Northside: (a) waive your right to have any and all disputes or Claims arising from these Terms, the Services or your purchase of a product through the Services (collectively, &#8220;<strong><em>Disputes</em></strong>&#8220;) resolved in a court; and (b) waive your right to a jury trial. Instead, you and Northside will arbitrate Disputes through binding arbitration (which is the referral of a Dispute to one or more persons charged with reviewing the Dispute and making a final and binding determination to resolve it instead of having the Dispute decided by a judge or jury in court).</p>
<ul>
<li><strong>No Class Arbitrations, Class Actions or Representative Actions</strong></li>
</ul>
<p>You and NORTHSIDE agree that any Dispute is personal to you and NORTHSIDE and that such Dispute will be resolved solely through individual arbitration and will not be brought as a class arbitration, class action or any other type of representative proceeding. Neither party agrees to class arbitration or to an arbitration in which an individual attempts to resolve a Dispute as a representative of another individual or group of individuals. Further, you and NORTHSIDE agree that a Dispute cannot be brought as a class or other type of representative action, whether within or outside of arbitration, or on behalf of any other individual or group of individuals.</p>
<ul>
<li><strong>Federal Arbitration Act</strong></li>
</ul>
<p>You and Northside agree that these Terms affect interstate commerce and that the enforceability of this Section 14 shall be governed by, construed and enforced, both substantively and procedurally, by the Federal Arbitration Act, 9 U.S.C. § 1 et seq. (the &#8220;<strong><em>FAA</em></strong>&#8220;) to the maximum extent permitted by applicable law.</p>
<ul>
<li><strong>Process</strong></li>
</ul>
<p>You and Northside agree that you will notify each other in writing of any Dispute within thirty (30) days of when it arises so that the parties can attempt in good faith to resolve the Dispute informally. Notice to Northside shall be sent by certified mail or courier to: Northside, Attn: Customer Service, P.O. Box 124, Marysville, Washington 98271. Your notice must include: (1) your name, postal address and email address; (2) a description of the nature or basis of the Dispute; and (3) the specific relief that you are seeking. If you and Northside cannot agree how to resolve the Dispute within thirty (30) days after Northside receives your notice, either you or Northside may, as appropriate pursuant to this Section 14, commence an arbitration proceeding or file a claim in court. You and Northside agree that any arbitration or claim must be commenced or filed within one (1) year after the Dispute arose; otherwise, you and Northside agree that the claim is permanently barred (which means that you will no longer have the right to assert a claim regarding the Dispute). You and Northside agree that (a) any arbitration will occur near your city of residence; (b) arbitration will be conducted confidentially by a single arbitrator in accordance with the rules of JAMS; and (c) the state or federal courts in your state of residence will have exclusive jurisdiction over the enforcement of an arbitration award and over any Dispute between the parties that is not subject to arbitration.</p>
<ul>
<li><strong>Authority of Arbitrator</strong></li>
</ul>
<p>As limited by the FAA, these Terms and applicable JAMS rules, the arbitrator will have (a) the exclusive authority and jurisdiction to make all procedural and substantive decisions regarding a Dispute, and (b) the authority to grant any remedy that would otherwise be available in court. The arbitrator may conduct only an individual arbitration and may not consolidate more than one individual&#8217;s claims, preside over any type of class or representative proceeding or preside over any proceeding involving more than one individual.</p>
<ul>
<li><strong>Rules of JAMS</strong></li>
</ul>
<p><strong> </strong><br />
The rules of, and additional information about, JAMS are available on the JAMS website at <a href="http://www.jamsadr.com/">http://www.jamsadr.com/</a>, as may be updated from time to time. By agreeing to be bound by these Terms, you either (a) acknowledge and agree that you have read and understand the rules of JAMS or (b) waive your opportunity to read the rules of JAMS and any claim that the rules of JAMS are unfair or should not apply for any reason.</p>
<ul>
<li><strong>Severability</strong></li>
</ul>
<p><strong> </strong><br />
If any provision of this Section 14 is held invalid or unenforceable, it will be so held to the minimum extent required by law and all other provisions will remain valid and enforceable. Further, the waivers set forth in Section 14.2 are severable from the other provisions of these Terms and will remain valid and enforceable except as prohibited by applicable law.</p>
<ul>
<li><strong>Changes</strong></li>
</ul>
<p><strong> </strong><br />
Notwithstanding the provisions herein related to modifications of these Terms, if Northside revises this Section 14 after the date you first accepted these Terms (or accepted any subsequent changes to these Terms), you may reject any such change within thirty (30) days of the date such change became effective by providing Northside written notice of such rejection and delivering such notice to: Northside, Attn: Customer Service, P.O. Box 124, Marysville, Washington 98271. In order to be effective, your written notice must include your full name and clearly indicate your intent to reject changes to this Section 14. By rejecting such changes, you are agreeing to resolve Disputes in accordance with the last version of the Terms you accepted.</p>
                    <hr>
<ol start="15">
<li><h3> Governing Law</h3></li>
</ol>
<p><strong> </strong><br />
These Terms, your access to and use of the Services and your purchase of products through the Services shall be governed by and construed in accordance with the laws of the State of Washington, without regard to conflict of law principles. You hereby irrevocably consent to the jurisdiction and venue of the federal and state courts located in King County, Washington with respect to any Dispute between the parties that is not subject to arbitration under these Terms.<br />
<strong>                </strong></p>
                    <hr>
<ol start="16">
<li><h3> Termination </h3></li>
</ol>
<p>Notwithstanding any of these Terms, Northside reserves the right, without notice and in our sole discretion, to terminate your right to use the Services, or any portion of thereof, and to block or prevent your future access to and use of the Services or any portion thereof.</p>
                    <hr>
<ol start="17">
<li><h3> Severability </h3></li>
</ol>
<p>If any term, clause or provision of these Terms shall be deemed unlawful, void or for any reason unenforceable, such term, clause or provision shall be deemed severable from these Terms and shall not affect the validity and enforceability of any remaining part of that provision, or the remaining other provisions.</p>
                    </div>
                </div>
            </div>
            <!--/row end-->

        </div>
    </div>
    <!--/row-->

    <div style="clear:both"></div>
</div>
