<div class="w100 miniCartTable scroll-pane">
  <table>
    <tbody>
    <% current_order.order_items.each do |order_item| %>
      <%= render 'layouts/cart_order_summary_item', product: order_item.product, product_color: order_item.product_color, size: order_item.size, order_item: order_item, show_total: true %>
    <% end %>
    </tbody>
  </table>
</div>
<!--/.miniCartTable-->

<div class="miniCartFooter text-right">
  <h3 class="text-right subtotal cart-subtotal"> Subtotal: <%= render 'layouts/cart_subtotal' %> </h3>
  <a class="btn btn-sm btn-danger" href="/cart"> <i class="fa fa-shopping-cart"> </i> VIEW CART </a><a class="btn btn-sm btn-primary" href="/checkout"> CHECKOUT </a>
</div>
<!--/.miniCartFooter-->
